.header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #15232D;
    transition: all 0.4s;
}
.hide{
    top: -70px;
}
.header h1{
    font-size: 20px;
    color: white;
}
