.formSearch {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
  padding: 0 100px;
}
.formSearch input {
  border: none;
  height: 40px;
  width: 100%;
  outline: none;
  padding-left: 10px;
  border-radius: 30px;
  background-color: white;
}
.formSearch button {
  border: none;
  position: absolute;
  right: 99px;
  background-color: black;
  color: white;
  font-weight: normal;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  font-size: 16px;
  border-radius: 30px;
}
.formSearch button:hover {
 background-color: rgb(107, 22, 22);
}
.formSearch button:disabled{
  background-color: rgba(0, 0, 0, 0.548);
}
.serchIcon {
  margin-right: 7px;
}

@media screen and (max-width: 650px) {
  .formSearch {
    padding: 0;
  }
  .formSearch button {
    border: none;
    position: absolute;
    right: -1px;
    background-color: black;
    color: white;
    font-weight: normal;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    font-size: 16px;
    border-radius: 30px;
  }
}

